* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0}

i{
  color: rgb(196, 196, 196); 
  font-size: 2.5em;
  margin-right: 0.1em;  
}

h1{
  margin-bottom: 1em; 
  color: red; 
}

p {
  margin-bottom: 2em;
  font-size: 1.5rem; 
  color: white;  
  font-family: 'Roboto';  
}

span {
  margin-top: 1em; 
  text-transform: uppercase;
  color: rgb(196, 196, 196); 
}

.key span{
  font-family: 'Roboto'; 
  color: white;  
}

.logo{
  display: flex; 
  justify-content: center;
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 2.6em; 
}

.key p {
  font-size: 2.5rem;
  font-family: 'Monoton';  
  margin-bottom: 0; 
}

.container {
  width: 40%; 
  margin: 0 auto;
  background-color: rgb(39, 39, 39);
  padding: 50px 0;
  border: 5px solid black;  
}

.header {
  margin: 0 auto;
  text-align: center;
}

.wrapper{
  width: 500px;
  margin: 0 auto; 
  position: relative;
}

.keyboard{
  display:grid;
  grid-template-columns:1fr 1fr 1fr; 
  grid-row-gap:40px;
  justify-items:center; 
  margin-bottom:100px; 
}
.key{
  width:110px;
  height:110px; 
  display:flex;
  flex-direction:column;
  align-items:center;
  border: 2px solid black;
  background-color: rgb(231, 44, 44);
  border-radius: 5px;
  transition: all .12s ease-in-out;
  justify-content: center; 
}

.playing {
  transform: scale(1.15);
  border-color: white;
  box-shadow: 0 0 1rem red;
}
